body {
    box-sizing: border-box;
    height: 100%;
    background-color: #FFFAEC;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

@keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
}

.navbar {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #578E7E;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.navbarTwo {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #376f5f;
    width: 100%;
    height: 5%;
    justify-content: center;
    align-items: center;
}

.navbarTwo a {
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 25px;
    margin: 15px 25px 15px 0px;
}

.navbarTwo a:hover {
    text-decoration: underline overline 4px #69a795;
}

.sideMid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 3%;
}

@media (max-width: 22%) {
    .sidebar {
      flex: 100%;
    }
  }

.sidebar {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #f6eacd;
    flex: 22%;
    padding: 50px 5px 0 5px;
    font-size: 18px;
    text-align: center;
    margin: 10px 15px 0 15px;
}

.sidebar a {
    text-decoration: none;
    color: black;
    background-color: #e9d9b4;
    padding: 20px 0 20px 0;
}

.sidebar a:hover {
    color: #ad935b;
}

.footer {
    position: relative;
    text-align: center;
    padding-top: 80px;
    background-color: #3D3D3D;
    height: 250px;
    width: 100%;
    bottom: 0;
}

.footer img {
    position: absolute;
    width: 25%;
    bottom: 0;
    right: 0;
}

.footer p {
    color: white;
    font-size: 30px;
}